body {
  margin: 0;
  height: 90vh;
  font-family: 'Anton',sans-serif;
  font-size: 4vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  z-index: -10;
  display: flex;
  width: 100px;
  margin-bottom: -40px;
}

.container {
  width: 80vw;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.box {
  width: 10vw;
  height: 10vw;
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box:hover {
  background-color: yellow !important;
}

.panel {
  display: block;
  position: absolute;
  bottom: 0;
  margin: 0 10vw;
  width: 80vw;
}

form {
  display: flex;
  flex-direction: column;
  height: 10vh;
}

input[type=range] {
  width: 80vw;
  margin-bottom: 20px;
}

datalist {
  font-size: 1vw;
  display: flex;
  justify-content: space-between;
  width: 80vw;
  margin: -15px 0 10px 0;
}

option {
  padding: 0;
}

.bottomPanel {
  display: flex;
  justify-content: center;
}

input[type=submit] {
  margin: 0 10px;
}

p {
  font-size: medium;
  margin: 0 10px;
}